{% if is_paginated %}
    <nav role="navigation" aria-label="Pagination" class="container pagination">
        <div class="pagination-content">
            {% if page_obj.has_previous %}
                <a aria-label="Go to page 1" class="page-link page-item" href="?page=1{{ additional_url_query }}">&laquo;</a>
                <a aria-label="Go to page {{ page_obj.previous_page_number }}" class="page-link page-item" href="?page={{ page_obj.previous_page_number }}{{ additional_url_query }}">&lsaquo;</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a aria-label="Go to page {{ num }}" class="page-link page-item page-current" href="?page={{ num }}{{ additional_url_query }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a aria-label="Go to page {{ num }}" class="page-link page-item" href="?page={{ num }}{{ additional_url_query }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a aria-label="Go to page {{ page_obj.next_page_number }}" class="page-link page-item" href="?page={{ page_obj.next_page_number }}{{ additional_url_query }}">&rsaquo;</a>
                <a aria-label="Go to page {{ page_obj.paginator.num_pages }}" class="page-link page-item" href="?page={{ page_obj.paginator.num_pages }}{{ additional_url_query }}">&raquo;</a>
            {% endif %}
        </div>
    </nav>
{% endif %}
